In [2]:
import pandas as pd

In [4]:
data = {
    'Fulano': [1,2,3,4],
    'Ciclano': [5,6,7,8]
}

tabela = pd.DataFrame(data)
tabela

   Fulano  Ciclano
0       1        5
1       2        6
2       3        7
3       4        8